*{
    margin:0;
}

.app{
    background-color:#e5e2e2;
}

.app__posts{
    padding:20px;
}



.app__header{
    position:sticky;
    top:0;
    z-index:1;
    
    object-fit: contain;
    background-color:#FFFFFF;
    padding:20px;
    border-bottom:1px solid lightgrey;

    display:flex;
    justify-content: space-between;

}

.app__headerImage{
    object-fit: contain;
}

.app__signup{
    display: flex;
    flex-direction: column;
}
.app__imguploadmsg{
  
    text-align: center;
    font-size: larger;
    padding:10px;
    background-color:#FFFFFF;
}
